<div class="pannel active">
	<form class="form-horizontal" role="form">

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-9">
				<button type="submit" class="btn btn-default">Enregistrer</button>
			</div>
		</div>

		<hr>

		<div class="form-group">
			<label class="col-sm-2 control-label">Lieu</label>
			<div class="col-sm-8">

				<div class="input-group">
					<a class="input-group-addon btn btn-primary bg-primary">Client</a>
					<input class="form-control" disabled="disabled" type="text" value="<%= work.client.name %>">
				</div>
			<% if(work.shop){ %>
				<div class="input-group">
					<a class="input-group-addon btn btn-primary bg-primary">Magasin</a>
					<input class="form-control" disabled="disabled" type="text" value="<%= work.shop.name %>">
				</div>
			<% } %>
			<% if(work.frigo_system){ %>
				<div class="input-group">
					<a class="input-group-addon btn btn-primary bg-primary">Système</a>
					<input class="form-control" disabled="disabled" type="text" value="<%= work.frigo_system.name %>">
				</div>
			<% } %>
			<% if(work.frigo_group){ %>
				<div class="input-group">
					<a class="input-group-addon btn btn-primary bg-primary">Groupe</a>
					<input class="form-control" disabled="disabled" type="text" value="<%= work.frigo_group.name %>">
				</div>
			<% } %>
			<% if(work.frigo_unit){ %>
				<div class="input-group">
					<a class="input-group-addon btn btn-primary bg-primary">Unité</a>
					<input class="form-control" disabled="disabled" type="text" value="<%= work.frigo_unit.name %>">
				</div>
			<% } %>
			</div>
		</div>

		<hr>

			<div class="form-group">
				<label class="col-sm-2 control-label">Date</label>
				<div class="col-sm-8">

				<%  
					var date = new Date();
					date = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear()
				%>

					<div class="input-group input-append date" id="datetimepicker1" data-date="<%= date %>" data-date-format="dd/mm/yyyy">
						<a class="input-group-addon btn btn-primary bg-primary">
							<div class="add-on"><i class="fa fa-calendar"></i></div>
						</a>
						<input class="form-control" size="16" type="text" readonly="" name="date_todo" value="<%= date %>">
					</div>
				</div>
			</div>

		<hr>

		<div class="form-group">
			<label class="col-sm-2 control-label">Description</label>
			<div class="col-sm-8">
			
				<div class="input-group">
					<a class="input-group-addon btn btn-primary bg-primary">Nom</a>
					<input class="form-control" type="text" value="<%= work.name %>">
				</div>

				<div class="input-group">
					<a class="input-group-addon btn btn-primary bg-primary">Type</a>
					<select class="form-control">
						<option  selected disabled>Selectionner un type de travail</option>
					<% workTypes.map(function(workType){ %>
						<option value="<%= workType.id %>" <% if(workType.id == work.work_type){%>selected<%}%>  >
							<%= workType.name %>
						</option>
					<% }) %>			
					</select>
				</div>

			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-8">
				<div class="input-group">
					<a class="input-group-addon btn btn-primary bg-primary"></a>
					<textarea class="form-control" rows="3" cols="3" name="note"><%= work.note || "" %></textarea>
				</div>
			</div>
		</div>

		<hr>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-9">
				<button type="submit" class="btn btn-default">Enregistrer</button>
			</div>
		</div>
	</form>
</div>


<script type="text/javascript">
	var  documentLoaded = function (){
		$('#datetimepicker1').datepicker();
	};

	window.addEventListener("load", documentLoaded);
	<% if(false === res.locals.layout){ %>
		documentLoaded();
	<% } %>
</script>